[submodule "src/Libraries/AvalonEdit"]
	path = src/Libraries/AvalonEdit
	url = https://github.com/wieslawsoltes/AvalonEdit.git
[submodule "src/Libraries/NRefactory"]
	path = src/Libraries/NRefactory
	url = https://github.com/wieslawsoltes/NRefactory.git
[submodule "src/Libraries/cecil"]
	path = src/Libraries/cecil
	url = https://github.com/wieslawsoltes/cecil.git
[submodule "src/Libraries/WpfDesigner"]
	path = src/Libraries/WpfDesigner
	url = https://github.com/wieslawsoltes/WpfDesigner.git
