<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="LibreWPF Local" value="../LibreWPF/artifacts/packages/Release/NonShipping" />
    <add key="LibreWinForms Local" value="../LibreWinForms/artifacts/packages/Release/NonShipping" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value="../LibreWPF/artifacts/nuget/SharpDevelop" />
  </config>
</configuration>
