<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="LibreWPF Local" value="/Users/wieslawsoltes/GitHub/wpf/artifacts/packages/SharpDevelopLocal" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
